/* common font style */
body {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    /* color: white; */
}

/* Welcome Note */
.think {
    background: #FFF8F3;
    background-image: url('img/BannerImage.png');
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    border-radius: 10px;

    margin: 100px;
    padding: 100px;

}

.welcome {
    max-width: 1140px;
    margin: auto;
}

.colorRed {
    color: red;
    text-align: center;
    font-size: 50px;
    margin: 10px;
    padding: 15px;
}

.about {
    text-align: center;
    /* margin-top: 130px; */
    /* background: #FFF8F3; */
    border-radius: 10px;
    padding: 50px 70px;
    border-radius: 10px;


}

.section-title {
    /* text-align: center; */
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;

}

.think2 {
    background: #FFF8F3;
    background-image: url('img/Vectorrr.png');
    bbackground-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: left;
    color: white;
    border-radius: 10px;

    margin: 100px;
    padding: 100px;

}

.partyflex {
    display: flex;
}

.partypalacecolor {
    /* background-color: red; */
    margin: 100px;
    padding: 70px 0;
    text-align: center;
    /* text-align: justify; */
    height: 200px;
    width: 80%;
    background: linear-gradient(to bottom, #f1eeec 0%, #ff99cc 100%)
}