/* common font style */
body {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    /* color: white; */
}

/* Welcome Note */
.think {
    background: #FFF8F3;
    background-image: url('img/BannerImage.png');
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    border-radius: 10px;

    margin: 100px;
    padding: 100px;

}

.welcome {
    max-width: 1140px;
    margin: auto;
}

.colorRed {
    color: red;
    text-align: center;
    font-size: 50px;
    margin: 10px;
    padding: 15px;
}

.about {
    text-align: center;
    /* margin-top: 130px; */
    /* background: #FFF8F3; */
    border-radius: 10px;
    padding: 50px 70px;
    border-radius: 10px;


}

.section-title {
    /* text-align: center; */
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;

}

.think2 {
    background: #FFF8F3;
    background-image: url('img/Vectorrr.png');
    bbackground-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: left;
    color: white;
    border-radius: 10px;

    margin: 100px;
    padding: 100px;

}

.partyflex {
    display: flex;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.partypalacecolor {

    margin: 100px;
    padding: 70px 0;
    text-align: center;
    /* text-align: justify; */
    height: 200px;
    width: 80%;
    background: linear-gradient(to bottom, #f1eeec 0%, #ff99cc 100%)
}

.holidaybackground {
    background-image: url('img/Rectangle2.png');
    background-repeat: no-repeat;
    background-size: 1300px 100px;
    background-position: bottom;
    margin: 10px;
    padding: 20px;
}

.awsomeProt {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 80px;
    padding-right: 20px;
}

.row {
    display: flex;
}

.pboxcolumn {
    flex: 33.33%;
    padding: 5px;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;
}



.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
}



.newsletterbox {

    margin: 100px;
    padding: 70px 10px;
    text-align: center;
    /* text-align: justify; */
    height: 299px;
    width: 80%;
    background: linear-gradient(to bottom, #f1eeec 0%, #ff99cc 100%)
}

.banner {
    text-align: center;
}

.social {

    grid-template-columns: repeat(4, 25%);
    justify-items: center;
}

.adressBet {
    display: flex;
    justify-content: space-between;
    margin: 25px;
    padding: 10px;
}

.footercolor {
    background: #ece8e4;
}

.footer-text {
    text-align: center;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
}

.red {
    color: red;
}